.our-services{
    color: var(--color-text);
    font-family: $font-family;
    margin: 0 40px;
    @media #{$tab}{
        margin: 0 1.5rem !important;
    }
    .service{
        max-width: $max-width;
        margin: auto;
        @media #{$tab}{
            flex-wrap: wrap;
        }
    }
    .service-wrap{
        .numberX{
            margin-left: 20px;
        }
        @media #{$tab}{
            flex-wrap: wrap-reverse !important;
            .numberX{
                margin-left: 0;
            }
        }
    }
    .img-box-container{
        width: 48%;
        @media #{$tab}{
            width: 100%;
        }
        .numberX{
            font-size: 40px;
            color: var(--color-title);
            font-weight: bold;
            margin-bottom: 20px;
            @media #{$xs}{
                font-size: 24px;
            }
        }
    }
    .img-box{
        height: 650px;
        background-color: var(--color-text);
        padding: 30px;
        border-radius: 10px;
        position: relative;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .beforehover{
            object-fit: contain;
            padding: 7px 0;
        }
        @media #{$tab}{
            margin: 0 !important;
            padding: 20px;
        }
        @media #{$xs}{
            height: 350px;
        }
        @media #{$md}{
            height: 500px;
        }
    }
    .text-box{
        width: 48%;
        border: 3px solid var(--color-title);
        border-radius: 10px;
        background: var(--color-base);
        padding: 40px 30px;
        position: relative;
        height: max-content;
        margin-top: 135px;  
        z-index: 8;      
        @media #{$tab}{
            width :100%;
            margin: 10px 0 !important
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.13;
        }
        h4{
            @media #{$xs}{
                font-size: 22px !important;
            }
        }
        p{
            position: relative;
            z-index: 2;
            @media #{$xs}{
                font-size: 14px;
            }
        }
        .title{
            position: relative;
            color: var(--color-title);
            z-index: 2;
        }
    }
    .right{
        margin-left: -100px;
    }
    .left{
        margin-right: -100px;
    }
    .service1{
        .text-box{
            &::before{
                background: url('../images/toppng.com-black-abstract-png-abstract-technology-vector-676x323.png');
            }
        }
    }
    .service2{
        .text-box{
            &::before{
                background: url('../images/toppng.com-technology-background-white-png-ferris-wheel-1255x800.png');
            }
        }
    }

}